.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 607px;
}

.myPage_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.myPage_form .userData_edit {
  display: flex;
  flex-direction: column;
}

.myPage_form .userData_edit a {
  color: coral;
}

.Auth {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.Auth .Auth_title {
  background-color: white;
  padding: 0 3%;
  font-size: small;
}

.Auth .Auth_title_border {
  position: absolute;
  width: 100%;
  border-top: 1px solid black;
  top: 19%;
  z-index: -1;
}

.Auth_platform {
  margin: 5% 0;
}

.Auth_platform button {
  padding: 3%;
  border-radius: 5px;
}

.Auth_platform .platform_google {
  color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
  width: 100%;
}
