.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 607px;
}

.myPage_form {
  width: 100%;
}

.myPage_form h1 {
  margin-bottom: 0;
}

.myPage_form form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.myPage_form form input {
  border-radius: 5px;
  padding-left: 5%;
  margin-top: 2%;
}

.myPage_form form div {
  display: flex;
  margin: 5% 0;
}

.myPage_form form div input {
  margin-left: 0;
}

.myPage_form form div label {
  font-size: small;
}

.myPage_form form button {
  border-radius: 5px;
}

.logout {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.logout .logout_title {
  background-color: white;
  padding: 0 3%;
  font-size: small;
}

.logout .logout_title_border {
  position: absolute;
  width: 100%;
  border-top: 1px solid black;
  top: 19%;
  z-index: -1;
}

.logout_platform {
  margin: 5% 0;
}

.logout_platform button {
  padding: 3%;
  border-radius: 5px;
}

.logout_platform .platform_google {
  color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
  width: 100%;
}
